@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

/* src/assets/main.css */

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}
